Hello, <%= current_user.nickname %>

<%= button_to "Logout", logout_path, method: :delete %>

<div class="profile-picture">
  <%= image_tag current_user.image_url if current_user %>
</div>

<div class="starred">
  Starred Repos: <%= @user_info[:starred_repos].count %>
</div>

<div class="following">
  Following: <%= @user_info[:following] %>
</div>

<div class="followers">
  Followers: <%= @user_info[:followers] %>
</div>